{ :id 2 :src [0, 1] :target [0, 2] :scope [0] }
{ :id 4 :src [0, 2] :target [0, 2, 1] :scope [0, 2] }
{ :id 7 :src [0, 2, 2] :target [0, 2, 3] :scope [0, 2] }
{ :id 8 :src [0, 2, 1] :target [0, 2, 3] :scope [0, 2] }
{ :id 9 :src [0, 1] :target [0, 2] :scope [0] }
{ :id 11 :src [0, 2] :target [0, 2, 4] :scope [0, 2] }
{ :id 13 :src [0, 2, 3] :target [0, 2, 5] :scope [0, 2] }
{ :id 15 :src [0, 2, 5] :target [0, 2, 6] :scope [0, 2] }
{ :id 17 :src [0, 2, 4] :target [0, 2, 7] :scope [0, 2] }
{ :id 19 :src [0, 2, 6] :target [0, 2, 8] :scope [0, 2] }
{ :id 20 :src [0, 2, 7] :target [0, 2, 8] :scope [0, 2] }
{ :id 22 :src [0, 2, 8] :target [0, 2, 9] :scope [0, 2] }
{ :id 24 :src [0, 2, 9] :target [0, 2, 10] :scope [0, 2] }
{ :id 25 :src [0, 2, 4] :target [0, 2, 10] :scope [0, 2] }
{ :id 27 :src [0, 2, 10] :target [0, 2, 11] :scope [0, 2] }
{ :id 29 :src [0, 2, 11] :target [0, 2, 12] :scope [0, 2] }
{ :id 31 :src [0, 2, 12] :target [0, 2, 13] :scope [0, 2] }
{ :id 33 :src [0, 2, 13] :target [0, 2, 14] :scope [0, 2] }
{ :id 35 :src [0, 2, 1] :target [0, 2, 15] :scope [0, 2] }
{ :id 37 :src [0, 2, 15] :target [0, 2, 16] :scope [0, 2] }
{ :id 38 :src [0, 2, 14] :target [0, 2, 16] :scope [0, 2] }
{ :id 40 :src [0, 2, 16] :target [0, 2, 17] :scope [0, 2] }
{ :id 41 :src [0, 2, 17] :target [0, 2, 2] :scope [0, 2] }
{ :id 42 :src [0, 2, 14] :target [0, 2] :scope [0, 2] }
{ :id 44 :src [0, 2] :target [0, 3] :scope [0] }
{ :id 48 :src [0, 3] :target [0, 4] :scope [0] }
